body {
/*  min-height: 1000px;*/
	padding-top: 100px;
	padding-bottom: 100px;
}

.drawer {
	position: fixed;
	top: 50px;
	width: 33%;
}

.no-padd {
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
}

.no-margin {
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
}


.modal-no-gutter {
	margin-top:0;
	margin-bottom:0;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
}


.modal.in {
   display:block;
}

.editing-dialog {
	margin-top: 100px;
	overflow:auto;
	overflow-y:scroll;
}
/* generix */
.vcenter {
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);
}

.bottom-border {
	border-style: none none solid none;
	border-width: 1px;
	border-color: #eee;
}

.large {
	font-weight: 400;
	font-size: 24px;
	line-height: 26px;
}

.huge {
	font-weight: 400;
	font-size: 38px;
	line-height: 38px;
}

/* partners */
.open-partner {
	cursor: pointer;
}

/* questions */
.q-info-cell {
	vertical-align: middle;
	height: 64px;
}

.q-support {
	border-radius: 0.3em;
	border-style: solid;
	border-width: 1px;
	border-color: #286090;
	color: #286090;
	font-weight: 400;
	font-size: 24px;
	line-height: 26px;
	margin-top:14px;
	padding: 6px;
}

.q-votes {
	border-radius: 0.287em;
	border-style: solid;
	border-width: 1px;
	border-color: #286090;
	color: #286090;
	font-weight: 300;
	font-size: 16px;
	line-height: 22px;
	margin-top:14px;
	padding: 6px;
}


.q-text-cell {
	height: 64px;
	overflow:hidden;
	cursor: pointer;
}

.q-badge {
	font-weight: 400;
	font-size: 20px;
	line-height: 20px;
	top:4;
}

.q-pill {
	border-width: 1px;
	border-color:#D6E0EB;
	border-style:solid;
	margin:6px;
}

.upvotable {
	cursor: pointer;
}

.upvotable:hover {
	cursor: pointer;
	color: #337ab7;
}

.unvotable {
	cursor: not-allowed;
	 color: #286090;
}

#addQuestionBtn > a:hover {
	background-color: #449d44;
	color: white;
}

#addPartnerBtn > a:hover {
	background-color: #449d44;
	color: white;
}

.q-panel {
	min-height:600px;
}

.q-row {
	background-color: white;
	border-style: none none solid none;
	border-width: 1px;
	border-color: #eee;
}

.q-text-cell:hover {
	background-color: #f5f5f5;
	border-style: none none solid none;
	border-width: 1px;
	border-color: #ddd;
}
.tags-cloud {

}

.tags-cloud .label, .flags-cloud .label {
	margin: 2px;
	display: inline-flex;
}

.scroll-block {
	max-height:200px;
	overflow-y:scroll;
}

#officialVoteSlider .slider-selection, #parliamentVoteSlider .slider-selection, #councilVoteSlider .slider-selection {
	background: #5cb85c;
}

#officialVoteSlider .slider-track-high, #parliamentVoteSlider .slider-track-high, #councilVoteSlider .slider-track-high {
	background: #d9534f;
}
