body {
/*  min-height: 1000px;*/
	padding-top: 100px;
	padding-bottom: 100px;
}

.drawer {
	position: fixed;
	top: 50px;
	width: 33%;
}

.no-padd {
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
}

.no-margin {
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
}


.modal-no-gutter {
	margin-top:0;
	margin-bottom:0;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
}
