body {
/*  min-height: 1000px;*/
	padding-top: 100px;
	padding-bottom: 100px;
}

.drawer {
	position: fixed;
	top: 50px;
	width: 33%;
}

.no-padd {
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
}

.no-margin {
	margin-top:0;
	margin-right:0;
	margin-bottom:0;
	margin-left:0;
}


.modal-no-gutter {
	margin-top:0;
	margin-bottom:0;
	padding-top:0;
	padding-right:0;
	padding-bottom:0;
	padding-left:0;
}


.modal.in {
   display:block;
}

.editing-dialog {
	margin-top: 100px;
	overflow:auto;
	overflow-y:scroll;
}
/* generix */
.vcenter {
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);
}

.bottom-border {
	border-style: none none solid none;
	border-width: 1px;
	border-color: #eee;
}

.large {
	font-weight: 400;
	font-size: 24px;
	line-height: 26px;
}

.huge {
	font-weight: 400;
	font-size: 38px;
	line-height: 38px;
}

/* questions */
.q-info-cell {
	vertical-align: middle;
	height: 80px;
}

.q-text-cell {
	height: 80px;
	overflow:hidden;
}

.q-badge {
	font-weight: 400;
	font-size: 20px;
	line-height: 20px;
	top:4;
}

.q-pill {
	border-width: 1px;
	border-color:#D6E0EB; 
	border-style:solid; 
	margin:6px;
}

#addQuestionBtn > a:hover {
	background-color: #449d44;
	color: white;
}

#addPartnerBtn > a:hover {
	background-color: #449d44;
	color: white;
}

.q-row {
	background-color: white;
	border-style: none none solid none;
	border-width: 1px;
	border-color: #eee;
}

.q-row:hover {
	background-color: #f5f5f5;
	border-style: none none solid none;
	border-width: 1px;
	border-color: #ddd;
}
.tags-cloud {
	
}

.tags-cloud .label, .flags-cloud .label {
	margin: 2px;
	display: inline-flex;
}