/*** Setup ***/

.nav-block {
/*	height: 125px;*/
}
.nav-buffer {
/*	height: 120px;*/
}

/*** Containers ***/

.q-cont {
	position: relative;
	top: 120px; /* containersTopPos */
}

.side-cont {
	position: fixed;
	top: 120px;  /* containersTopPos */
	background: lightcyan;
}


/*** Questions display ***/

.q {
	position: absolute;
	display: none;
	border-style: dotted;
	border-width: 2px;
	background: lightgray;
}

.q-sz-1 {
	border-color: green;
	border-style: solid;
}

.q:hover {
	border-color: red;
}

.q-title {
	font-weight: 900;
	overflow:hidden;
	text-overflow: ellipsis;
}

.q-desc {
	overflow:hidden;
	text-overflow: ellipsis;
	display: none;
}
.q:hover .q-desc {
	display: block;
}

