/*** Setup ***/

.nav-block {
/*	height: 125px;*/
}
.nav-buffer {
	height: 120px;
}

/*** Questions display ***/

.q-cont {
	position: relative;
}

.q {
	position: absolute;
	display: none;
	border-style: dotted;
	border-width: 1px;
}

.q:hover {
	border-color: red;
}

.q-title {
	font-weight: 900;
	overflow:hidden;
	text-overflow: ellipsis;
}

.q-desc {
	overflow:hidden;
	text-overflow: ellipsis;
	display: none;
}
.qq:hover .q-desc {
	display: block;
}

.aq-cont {
	position: relative;
}
