
/*** Setup ***/

.hover {
	-webkit-user-select: none;
	-webkit-touch-callout: none;
}


/*** Dropdown submenu ***/
.dropdown-submenu {
	position: relative;
}

.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px;
	border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #ccc;
	margin-top: 5px;
	margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
	border-left-color: #fff;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}

/*** Color palette ***/
.rotten-cherry { color: #990012 }
.rotten-cherry-dark { color: #6D000D }
.darker-grey { color: #e7e7e7;}
.light-grey { color: #f8f8f8;}

.light-brown-gray { color: #605355; }
.dark-brown-gray2 { color: #363133; }
.dark-brown-gray { color: #4B4243; }


/*** Theme ***/

a {
	color: #990012;
	text-decoration: none;
}
a:hover, a:focus {
	color: #6D000D;
	text-decoration: underline;
}

/*** Branding ***/

.brand-sm {
	font-weight: 900;
	color: #990012;
	font-size: 1.2em;
	line-height: 1.2em;
	margin-left: 34px; 
	margin-top: 14px;
}

.brand-xs {
	font-weight: 900;
	color: #990012;
	font-size: 1.2em;
	line-height: 1.2em;
	margin-left: 34px; 
	margin-top: 14px;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	color: #990012;
	background-color: transparent;
	outline: 0 none;
	text-decoration: none;
}


.logo {
	cursor: pointer;
}

.logo-big {
	background: url(../img/YV-logo-med.png) left top no-repeat;
	height: 108px;
	width: 282px;
	position: fixed;
	top: 8px;
	left:8px;
	z-index: 3300;
}

.logo-med {
	background: url(../img/YV-logo-sml.png) left top no-repeat;
	height: 72px;
	width: 178px;
	position: fixed;
	top: 4px;
	left:4px;
	z-index: 3300;
}

.logo-sml {
	background: url(../img/YV-hands-sml.png) left top no-repeat;
	height: 40px;
	width: 49px;
	position: fixed;
	top: 8px;
	left:7px;
	z-index: 3300;
}

.logo-text {
	font-weight: 900;
	color: #990012;
	font-size: 1.4em;
	line-height: 1.4em;
}

.slogan {
	font-weight: 900;
	font-size: 2.4em;
	line-height: 2.4em;
	color: #990012;
}

.slogan-sml {
	font-weight: 900;
	font-size: 1.6em;
	line-height: 1.6em;
	color: #990012;
}

.nav-buffer {
	height: 80px;
}


/* * * * */

.q-cont {
	
} 

.q {
	
}

.q-bg-1 { background-color: white; }
.q-bg-2 { background-color: #bcb8b8; }
.q-bg-3 { background-color: #e7e7e7; }
.q-bg-4 { background-color: #E5DADC;}/*C2A8AB*/
.q-bg-5 { background-color: #AE9A9E; /*8B7B7E*/}
.q-bg-6 { background-color: #B8A6A9; }

.q:hover, .q.touch { 
	background-color: #6D000D;
	color: white;
}

.q-title {
	font-weight: 900;
	padding: 0.4em;
	overflow:hidden;
	text-overflow: ellipsis;
}

.q-desc {
	padding: 0.4em;
	overflow:hidden;
	text-overflow: ellipsis;
}

.q-tally {
	font-weight: 900;
	font-size: 1.2em;
	line-height: 1.2em;
	color: #990012;
}

.q:hover .q-tally, .q.touch .q-tally {
	color: white;
}

.aq-cont {
	margin:2em;
}

.aq {
	border: 1px solid transparent !important;
	font-size: 0.9em;
}

.aq-votes-tally {
	padding-left: 2.4em;
	padding-right: 2.4em;
}

.aq-milestones {
	padding-left: 2.4em;
	padding-right: 2.4em;
}

.section-title {
	color: #6D000D;
	font-weight: 200;
	font-size: 1.5em;
	line-height: 1.4em;
/*	padding-left: 1.4em;
	padding-right: 1.4em;
*/}

/* ----- q-cont-static... */
.q-cont-static {
	padding: 1em;
}
.q-cont-static .q {
	border-bottom: 2px solid #e7e7e7;
	padding-bottom: 8px;
}

.q-cont-static .row .q {
	border-right: 1px solid #e7e7e7;
}

.q-cont-static .row.q {
	padding: 1em;
}

.q-cont-static, .q-cont-static footer {
	font-size: 0.9em;
}

.q-cont-static blockquote {
	font-size: 0.9em;
}

.q-cont-static .q-title {
	font-size: 1.4em;
}

.q-cont-static .q-votes span {
	font-weight: 800;
	font-size: 1.6em;
	color: #6D000D;
	margin-right: 8px;
}

.q-cont-static .q:hover .q-votes span, .q-cont-static .q.touch .q-votes span {
	color: white;
}

.q-cont-static .aq-votes-tally {
	font-size: 1.2em;
}

.q-cont-static .aq-milestones footer {
	font-size: 1.1em;
}

.q-cont-static .q.touch .q-desc blockquote {
	display:none;
}


/* ---------- q-cont-grid */

.carousel {
/*	width:100%;*/
/*	top:120px;*/
}

.carousel-indicators li {
	border-color:#6D000D;
}

.carousel-indicators .active {
	background-color:#6D000D;
}

.carousel-inner {
}

.carousel-inner .item.active {
	left:5%;
	width:89%;
	background-color: white;
}

.carousel-inner .q-page {
	position: relative;
	padding: 1em;
	width:90%;
	background-color: white;
}

a.carousel-control {
	width:5%; 
	color:#6D000D;
/*	z-index: 200;*/
}

.carousel-control span {
	z-index: 200;
}

.carousel .q {
	overflow-y:hidden;
	padding: 8px;
	margin: 5px;
	text-overflow: ellipsis;
}

.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
	display: inline-block;
	position: absolute;
	top: 50%;
/*	z-index: 500;*/
}

.carousel-control:hover, .carousel-control:focus {
	color: #990012;
	opacity: 0.9;
	outline: 0 none;
	text-decoration: none;
}

/* ------- q-cont-grid sizes */

.q-sz-1 {
	
}

.q-sz-1 .q-title {
	font-size: 13px;
}
.q-sz-1 .q-desc p {
	font-size: 12px;
	line-height: 13px;
	font-weight: 300;
}
.q-sz-1 .q-desc div {
	font-size: 13px;
	line-height: 13px;
	font-weight: 300;
}
.q-sz-1 .q-desc blockquote {
	display:none;
}

.q-sz-1 .q-votes span {
	font-weight: 800;
	font-size: 1.2em;
	color: #6D000D;
	margin-right: 4px;
	margin-bottom: 8px;
}


.q-sz-2 {
	
}

.q-sz-2 .q-title {
	font-size: 18px;
}
.q-sz-2 .q-desc p {
	font-size: 16px;
	line-height: 18px;
	font-weight: 300;
}
.q-sz-2 .q-desc div {
	font-size: 15px;
	line-height: 18px;
	font-weight: 300;
}

.q-sz-2 .q-votes span {
	font-weight: 800;
	font-size: 1.6em;
	color: #6D000D;
	margin-right: 8px;
}

.q-sz-2 .q-desc-p {
	padding-top: 4em;
}

.q-sz-3 {
	
}

.q-sz-3 .q-title {
	font-size: 24px;
}
.q-sz-3 .q-desc p {
	font-size: 19px;
	line-height: 22px;
	font-weight: 300;
}
.q-sz-3 .q-desc div {
	font-size: 18px;
	line-height: 24px;
	font-weight: 300;
}

.q-sz-3 .q-votes span {
	font-weight: 800;
	font-size: 2.8em;
	color: #6D000D;
	margin-right: 10px;
}

.q-sz-3 .q-desc-p {
	padding-top: 6em;
}


.q-cont-carousel .q:hover .q-votes span, .q-cont-carousel .q.touch .q-votes span {
	color: white;
}

/* ------- voting booth */
.q-voting-booth {
/*	background-color: rgba(0,0,0,0.1);*/
/*	background-color: rgba(0.427,0,0.51,0);*/
	background-color:#6D000D;
	bottom:6px;
	z-index:1000;
}

.q-cont-carousel .q-voting-booth {
	position:absolute; 
}

.q-cont-static .q-voting-booth {
	height:5em; 
	
}

.q-voting-booth a {
	opacity: 1;
	background-color: #f8f8f8;
	border-radius: 2px;
	padding: 2px;
/*	margin: 2px;*/
}

.q-voting-booth .btn-group {
	width:100%;
}

.q-sz-3 .q-voting-booth {
/*	bottom: 5em;*/
}
.q-sz-3 .q-voting-booth a {
	font-size: 2.6em;
	font-weight: 800;
}

.q-sz-2 .q-voting-booth {
/*	bottom: 4em;*/
}

.q-sz-2 .q-voting-booth a {
	font-size: 1.8em;
	font-weight: 600;
}

.q-sz-1 .q-voting-booth a {
	font-size: 0.8em;
	line-height:1em;
	font-weight: 600;
}

.q-sz-1 .q-voting-booth {
	padding-top:6px;
	padding-bottom:6px;
	background-color: rgba(0.427,0,0.51,1);
}

.q-sz-1 .q-voting-booth .vote-validation-pending {
	font-size: 0.8em;
}

.q-voting-booth .vote-yes {
	color: #990012;
}
.q-voting-booth .vote-no {
	color: #990012;
}
.q-voting-booth .vote-details {
	color: #7c7a7a;
}

.q-voting-booth .vote-validation-pending {
	background-color: rgba(0.427,0,0.51,1);
}

.vote-validation-pending span {
	cursor: pointer;
}

.already-voted {
	color: #6D000D;
	display: none;
}

.vote-validation-pending {
	display: none;
}

.aftervote-vote-tally {
	display: none;
	font-size: 2em;
	font-weight: 600;
	color: #E5DADC;
}

.q-sz-1 .aftervote-vote-tally {
	font-size: 0.9em;
}

.q-cont-static .aftervote-vote-tally {
	font-size: 1em;
}

/*** Question details ***/

.pub-q-cont {
	padding: 2em;
}

.pub-q-title {
	font-weight:900;
	font-size: 2em;
	padding: 0px 16px 10px 16px;
	color: #6D000D
}

.pub-q-desc {
	padding: 10px 16px 4px 16px;
	font-weight:200;
	font-size: 1.3em;
	color: #990012
}

.pub-q-content {
	padding: 1em;
}

.pub-q-votes {
	padding: 1em;
}

.pub-q-vote-stats {
	padding: 1em;
	min-height: 100px
}

.pub-q-vote-distribution {
	padding: 1em;
	min-height: 200px;
}

.pub-q-sidebar {
	padding: 2em;
}

/*** Question archival details ***/

.arch-q-cont {
	padding: 2em;
}

.arch-q-title {
	font-weight:900;
	font-size: 2em;
	padding: 0px 16px 10px 16px;
	color: #6D000D
}

.arch-q-desc {
	padding: 10px 16px 4px 16px;
	font-weight:200;
	font-size: 1.3em;
	color: #990012
}

.arch-q-content {
	padding: 1em;
}

.arch-q-votes {
	padding: 1em;
}

.arch-q-vote-stats {
	padding: 1em;
}

.arch-q-vote-distribution {
	padding: 1em;
}

.arch-q-sidebar {
	padding: 2em;
}

.arch-q-summary {
	
}

.arch-q-vote-citizen {
	border: 1px solid transparent;
	border-right-color: #990012;
	
}

.arch-q-s-title {
	font-weight: 900;
	font-size: 1.1em;
}

.arch-q-s-desc {
	font-weight:200;
}

.arch-q-vote-citizen-concl {
	font-weight: 900;
	font-size: 3em;
	color: #990012
}

.arch-q-vote-official-concl {
	font-weight: 900;
	font-size: 3em;
	color: #990012
}

.arch-q-vote-tally {
	font-weight: 900;
	font-size: 1.2em;
}

.arch-q-vote-offcial blockquote {
	font-weight: 300;
	font-size: 1em;
	text-align: left;
}